<h1>Lista de usuarios admin</h1>

<ul class="list-unstyled model-list">
	<% @admins.each do |admin| %>
		<li>
      <span style="width: calc(100% - 40px)"><%= admin.email %></span>
      <span class="control">
        <%= link_to admin_path(id: admin), method: :delete, :data => { confirm: '¿Seguro?' }, class: 'trash' do %>
          <i class="fa fa-border fa-trash"></i>
        <% end %>
      </span>
    </li>
	<% end %>
</ul>