<section class="split">
	<div class="split-image" style="background-image:url('<%= asset_path('field-and-mountains.jpg') %>');"></div>
	<div class="split-content">
		<h2><i>Nuestra Bodega</i></h2>
		<p class="line-2">Entre los volcanes Tupungato y Tupungatito, allí como un hijo de la mano de ambos padres de cara al reflejo del sol, Don José Ferrer Sala encontró este perfecto paraíso al pie de la Coordillera de los Andes. En ese lugar tan único comenzaron los sueños de esta bodega en el año 2003. Gracias al suelo en el que se encuentra, nuestra viña genera varietales delicados y fuertes, auténticos y singulares. De día, el radiante sol andino baña nuestros viñedos con sus fuertes rayos. De noche, la suave y fresca brisa detiene por momentos el tiempo. De día, la piel de la uva se oscurece y gana en perfume y sabor. De noche, el valle se calla y la planta madura reflexiona en su complejidad.</p>
		<p><b><i>Todos los que conformamos Finca Ferrer buscamos incansablemente la comunión con la calidad y la excelencia.</i></b></p>
		<%= link_to 'Ver más.', about_path, class: 'tilted' if params['action'] == 'home' %>
	</div>
</section>