<%= render 'about_top' %>
<section class="content grey">
	<div class="container">
		<div class="pull-left-sm space-sm-E-40">
			<%= image_tag 'cellar-location-map.png' %>
		</div>
		<div class="caption">
			<h2><i>Ubicación</i></h2>
			<p>Finca Ferrer se encuentra en la prestigiosa región de Gualtallary en Tupungato, una subregión del Valle de Uco en la provincia de Mendoza.<br><br>Allí, en sus 317 hectáreas a más de 1300 metrosde altura sobre el nivel del mar, da vida a exquisitos vinos. Los varietales Malbec, Syrah, Pinot Noir, Tempranillo, Chardonnay y Torrontés reposan en sus pasiones, sobre un suelo arenoso, rocoso e inorgánico con base calcárea.<br><br>Con un drenaje excepcional y la ayuda de los característicos vientos, la planta se mantiene sana y potente desde su concepción. La amplitud térmica de 16 Co con gran intensidad solar y bajas temperaturas nocturnas generan frutas con más color y aroma.</p>
		</div>
	</div>
</section>
<section class="split-inverted">
	<div class="split-image" style="background-image:url('<%= asset_path('field-and-mountains.jpg') %>');"></div>
	<div class="split-content">
		<h2><i>Espíritu</i></h2>
		<p class="space-xs-S-0">Nuestra bodega es el encuentro de dos mundos, que juntos son el equilibrio perfecto entre:</p>
		<p class="line-2">
			Lo tradicional y lo contemporáneo.<br>
			La sabiduría de antaño y la curiosidad.<br>
			Las pequeñas cosas de la vida y el mayor sentido.<br>
			La experiencia de un linaje europeo dedicado al vino y las <br>
			virtudes de las tierras jóvenes de Argentina.<br>
			Los recuerdos del pasado y los sueños futuros.<br>
			El aprendizaje y los nuevos desafíos.<br>
			El toque de grandeza y el amor por los detalles.<br>
			El conocimiento de nuestros abuelos y el asombro de nuestros hijos. <br>
			Lo sensato y lo pasional.<br>
			La historia y la aventura.<br>
			Lo generacional y lo espontáneo.
		</p>
		<p><b><i>Finca Ferrer un lugar único, un vino único.</i></b></p>
	</div>
</section>