<!DOCTYPE html>
<html lang="es">
<head>
	<%= render 'layouts/head' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<script>
$(function(){
	var $form = $('#form_birthday');
	$form.find('input').click(function() {
		$form.find('label.error').remove();
	});
	$form.validate({
		submitHandler: function(form) {
			var today_month = $form.data('month');
			var today_year = $form.data('year');
			var birthday_month = Number($form.find('#birthday_month').val());
			var birthday_year = Number($form.find('#birthday_year').val());
			var age_from_year = today_year - birthday_year;
			if (age_from_year > 18 || (age_from_year == 18 && birthday_month <= today_month)) {
				$form.append($('<input>', {type:'hidden',name:'full_age',val:true})).get(0).submit();
			}
			else $('#not_eighteen_modal').modal('show');
		}
	});
});
</script>
</body>
</html>
